<% include partials/navbar %>

<section id="contact">
  <div class="container-fluid">

    <div class="section-header">
      <br>
      <h3>Centers</h3>
    </div>

    <div class="row wow fadeInUp">

          <div class="col-md-3 info">
            <h3>Victorville Career Center</h3>
            <i class="ion-ios-location-outline"></i>
            <p>16934 Bear Valley Rd, Victorville, CA 92395</p>

            <i class="ion-ios-email-outline"></i>
            <p>info@goodwillsocal.org</p>

            <i class="ion-ios-telephone-outline"></i>
            <p>(760) 780-4970</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>TTY: 760.243.0931</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>Video Phone: 760.490.0474</p>

            <i class="ion-ios-time-outline"></i>
            <p>Service Hours:
              <br>

          Open to Public: Monday – Thursday 9:00AM – 4:00PM; Closed on Friday

          Other days by appointment only</p>

        </div><!--END OF COL-MD-3-->


            <div class="col-md-3 info">
              <h3>NorthEast Los Angeles Career Center</h3>
              <i class="ion-ios-location-outline"></i>
              <p>342 N. San Fernando Rd. Los Angeles, CA 90031</p>

              <i class="ion-ios-email-outline"></i>
              <p>info@goodwillsocal.org</p>

              <i class="ion-ios-telephone-outline"></i>
              <p>(323) 539-2000</p>

              <i class='ion-ios-telephone-outline'></i>
              <p>Fax: (323) 539-2022</p>

              <i class='ion-ios-telephone-outline'></i>
              <p>TTY: (323) 539-2057</p>

              <i class="ion-ios-time-outline"></i>
              <p>Service Hours:
                <br>
                Monday & Friday 8AM – 5PM

                Tuesday, Wednesday & Thursday 8AM – 7PM

                1st & 3rd Saturday 9AM – 1PM</p>

            </div><!--END OF COL-MD-3-->

            <div class="col-md-3 info">
              <h3>Riverside Career Center</h3>
              <i class="ion-ios-location-outline"></i>
              <p>1325 Spruce St, STE 110, Riverside, CA 92507</p>

              <i class="ion-ios-email-outline"></i>
              <p>info@goodwillsocal.org</p>

              <i class="ion-ios-telephone-outline"></i>
              <p>(951) 955-3101</p>

              <i class='ion-ios-telephone-outline'></i>
              <p>TTY: (951) 955-2245</p>

              <i class="ion-ios-time-outline"></i>
              <p>Service Hours:
                <br>
                Monday – Thursday 8AM – 4:30PM
                </p>

            </div><!--END OF COL-MD-3-->

            <div class="col-md-3 info">
              <h3>San Bernardino Employment Center</h3>
              <i class="ion-ios-location-outline"></i>
              <p>444 S. Waterman Ave. San Bernardino, CA 92408</p>

              <i class="ion-ios-email-outline"></i>
              <p>info@goodwillsocal.org</p>

              <i class="ion-ios-telephone-outline"></i>
              <p>(909) 890-1415</p>

              <i class='ion-ios-telephone-outline'></i>
              <p>Fax: (909) 890-1384</p>

              <i class='ion-ios-telephone-outline'></i>
              <p>TTY: (909) 885-2382</p>

              <i class="ion-ios-time-outline"></i>
              <p>Service Hours:
                <br>
                Open to Public: Monday – Thursday 9AM-4PM; Closed on Friday
                </p>

            </div><!--END OF COL-MD-3-->
        </div><!--END OF ROW-->

        <div class="row wow fadeInUp">

          <div class="col-md-4 info">
            <h3>Veterans Employment Program Center at Fletcher Square</h3>
            <i class="ion-ios-location-outline"></i>
            <p>3150 San Fernando Road, Los Angeles, CA 90065</p>

            <i class="ion-ios-email-outline"></i>
            <p>info@goodwillsocal.org</p>

            <i class="ion-ios-telephone-outline"></i>
            <p>(323) 539-2000</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>Fax: (323) 539-2022</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>TTY: (323) 487-4980</p>

            <i class="ion-ios-time-outline"></i>
            <p>Service Hours:
              <br>
              Monday – Friday 8AM – 5PM
            </p>

          </div><!--END OF COL-MD-4-->

          <div class="col-md-4 info">
            <h3>East San Gabriel Valley America's Job Center of California</h3>
            <i class="ion-ios-location-outline"></i>
            <p>14101 Nelson Ave East, La Puente, CA 91746</p>

            <i class="ion-ios-email-outline"></i>
            <p>info@goodwillsocal.org</p>

            <i class="ion-ios-telephone-outline"></i>
            <p>(626) 934-5700</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>Fax: (626) 934-5778</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>TTY: (626) 934-5777</p>

            <i class="ion-ios-time-outline"></i>
            <p>Service Hours:
              <br>
              Monday, Tuesday, Wednesday and Friday 8AM – 5PM

              Thursday 8AM – 6PM

              2nd & 4th Saturday 9AM – 1PM
            </p>

          </div><!--END OF COL-MD-4-->

          <div class="col-md-4 info">
            <h3>Santa Clarita America's Job Center of California</h3>
            <i class="ion-ios-location-outline"></i>
            <p>20730 Soledad Street, Santa Clarita, CA 91351</p>

            <i class="ion-ios-email-outline"></i>
            <p>info@goodwillsocal.org</p>

            <i class="ion-ios-telephone-outline"></i>
            <p>(661) 298-0152</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>Fax: (661) 251-5643</p>

            <i class='ion-ios-telephone-outline'></i>
            <p>TTY: (661) 298-7349</p>

            <i class="ion-ios-time-outline"></i>
            <p>Service Hours:
              <br>
              Monday – Friday 8AM – 4:30PM; closed daily for lunch 12PM – 1PM
            </p>

          </div><!--END OF COL-MD-4-->

        </div><!--END OF ROW-->



</div><!--END OF CONTAINER-->
      </section>

<% include partials/footer %>
