<% include partials/navbar %>
<form>
<div class="container" style='margin-top: 100px'>
<div class="row">
  <legend>Acknowledgement Form</legend>
  <div class='col-sm-12'>
    <p>I, (please print name)<input type="text" placeholder="type your name" required="true"/>, acknowledge that I have received information on the Career Resource Center's policies and procedures in the participant handbook. I can also request an electronic copy emailed to me or a hard paper copy for my personal reference.
    </p>
    <ul>
      <li>Evacuation Drills</li>
      <li>Program Description</li>
      <li>Who We Serve</li>
      <li>Services & Resources</li>
      <li>Confidentiality of Records Policy</li>
      <li>Americans with Disabilities Act</li>
      <li>Participant Service Policy</li>
      <li>Non-Discrimination Policy</li>
      <li>Participants Rights</li>
      <li>Complaint Resolution Procedure</li>
      <li>Equal Opportunity</li>
      <li>Safety & Prevention Policy</li>
    </ul> <!--END OF LIST-->
  </div> <!--END OF col-sm-12-->
</div> <!-- END OF ROW -->
</div> <!-- END OF CONTAINER-->

<div class="container my-5">
  <div class="row">
  <div class='col-sm-12'>
 <hr>
</div>
</div>
<div class="row">
<div class='col-sm-6'>
  <p>Participant Name(print) & Signature </p>
</div>
<div class='col-sm-6 text-right'>
  <p>Date </p>
</div>
</div> <!-- end of col -sm- 12 -->
  </div> <!-- end of row -->
  <div> <!-- end of container -->
    <div class="container">
      <div class="row">
      <div class='col-sm-12'>
     <hr>
    </div>
    </div>
    <div class="row">
    <div class='col-sm-6'>
      <p>Staff Name(print) & Signature </p>
    </div>
    <div class='col-sm-6 text-right'>
      <p>Date </p>
    </div>
    </div> <!-- end of col -sm- 12 -->
      </div> <!-- end of row -->
      <div> <!-- end of container -->



        <div class="container">
          <div class="row">

            <div class="col-sm-6">
            <a href='/form2'><button class="btn btn-primary btn-block">Back

            </button></a>

            </div>
        <div class="col-sm-6">
        <a href='/form4'><button class="btn btn-primary btn-block">Next

        </button></a>

        </div>
        </div>
        </div>
</form>
<% include partials/footer %>
