<% include partials/navbar %>


<form>

<div class="container" style='margin-top:100px'>
  <!-- Form Name -->
<legend style='text-align:center'>Goodwill Participant Information Form</legend>


<div class="row" style='margin-top:25px'>
  <div class="col-sm-3">
    <span class="input-group-addon">Transportation:</span>

    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      </div>
  </div>
</div> <!-- end of col-sm-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-112">
      <input type="checkbox" name="checkboxes" id="checkboxes-112" value="113">
      Agency Van
    </label>
    <br>
    <label for="checkboxes-113">
      <input type="checkbox" name="checkboxes" id="checkboxes-113" value="114">
      Bike
    </label>
    <br>
    <label for="checkboxes-114">
      <input type="checkbox" name="checkboxes" id="checkboxes-114" value="115">
      Contract Transportation
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-115">
      <input type="checkbox" name="checkboxes" id="checkboxes-115" value="116">
      Family
    </label>
    <br>
    <label for="checkboxes-116">
      <input type="checkbox" name="checkboxes" id="checkboxes-116" value="117">
      Friend
    </label>
    <br>
    <label for="checkboxes-117">
      <input type="checkbox" name="checkboxes" id="checkboxes-117" value="118">
      Own Auto
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-118">
      <input type="checkbox" name="checkboxes" id="checkboxes-118" value="119">
      Public Transportation
    </label>
    <br>
    <label for="checkboxes-119">
      <input type="checkbox" name="checkboxes" id="checkboxes-119" value="120">
      Walk
    </label>
    <br>
    <label for="checkboxes-120">
      <input type="checkbox" name="checkboxes" id="checkboxes-120" value="121">
      Other <input type="text" placeholder="_____________________"/>
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-2">
    <span class="input-group-addon">Disability:</span>
    <label for="checkboxes-121">
      <input type="checkbox" name="checkboxes" id="checkboxes-121" value="122">
      NONE
    </label>
    <br>
    Or write P for Primary and S for Secondary on the lines to the right.
    <br>
    <span class="input-group-addon">Severely Disabled?:</span>
    <label for="checkboxes-122">
      <input type="checkbox" name="checkboxes" id="checkboxes-122" value="123">
      Yes
    </label>
    <label for="checkboxes-123">
      <input type="checkbox" name="checkboxes" id="checkboxes-123" value="124">
      No
    </label>
    <br>
    <span class="input-group-addon">Documented?:</span><br>
    <label for="checkboxes-124">
      <input type="checkbox" name="checkboxes" id="checkboxes-124" value="125">
      Yes
    </label>
    <label for="checkboxes-125">
      <input type="checkbox" name="checkboxes" id="checkboxes-125" value="126">
      No
    </label>
</div> <!-- end of col-sm-2-->


  <div class=" col-sm-5">
    <ul class='list-unstyled'>
    <li>
    <select name="disability">
    <option value="" selected></option>
    <option value="primary">P</option>
    <option value="secondary">S</option>
    </select>Alcohol Dependency</li>
    <li>
      <select name="disability">
        <option value="" selected></option>
        <option value="primary">P</option>
        <option value="secondary">S</option>
      </select>Alzheimer's Disease</li>
      <li>
        <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Anxiety Disorder</li>
        <li>
          <select name="disability">
            <option value="" selected></option>
            <option value="primary">P</option>
            <option value="secondary">S</option>
          </select>Aphasia</li>
        <li>
            <select name="disability">
              <option value="" selected></option>
              <option value="primary">P</option>
              <option value="secondary">S</option>
            </select>Autism/Asperger's</li>
            <li>
            <select name="disability">
            <option value="" selected></option>
            <option value="primary">P</option>
            <option value="secondary">S</option>
          </select>Bipolar Disorder</li>
            <li>
            <select name="disability">
            <option value="" selected></option>
            <option value="primary">P</option>
            <option value="secondary">S</option>
          </select>Blindness/Visual Impairment</li>
          <li>
          <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Cardiac Disorder</li>
        <li>
        <select name="disability">
        <option value="" selected></option>
        <option value="primary">P</option>
        <option value="secondary">S</option>
      </select>Central Auditory Processing Disorder</li>
      <li>
      <select name="disability">
      <option value="" selected></option>
      <option value="primary">P</option>
      <option value="secondary">S</option>
    </select>Deafness/Hearing Impairment</li>
      <li>
        <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Depression</li>
        <li>
          <select name="disability">
            <option value="" selected></option>
            <option value="primary">P</option>
            <option value="secondary">S</option>
          </select>Developmental Learning Disorder</li>
          <li>
            <select name="disability">
              <option value="" selected></option>
              <option value="primary">P</option>
              <option value="secondary">S</option>
            </select>Downs Syndrome</li>

</div> </ul><!--END OF COL-SM-5-->

<div class=" col-sm-5">
  <ul class='list-unstyled'>

      <li>
          <select name="disability">
            <option value="" selected></option>
            <option value="primary">P</option>
            <option value="secondary">S</option>
          </select>Drug Dependency</li>
          <li>
          <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Dyslexia</li>
          <li>
          <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Epilepsy</li>
        <li>
        <select name="disability">
        <option value="" selected></option>
        <option value="primary">P</option>
        <option value="secondary">S</option>
      </select>Fetal Alcohol Syndrome</li>
      <li>
      <select name="disability">
      <option value="" selected></option>
      <option value="primary">P</option>
      <option value="secondary">S</option>
    </select>Mental Retardation</li>
  <li>
  <select name="disability">
  <option value="" selected></option>
  <option value="primary">P</option>
  <option value="secondary">S</option>
</select>Multiple Sclerosis</li>
  <li>
    <select name="disability">
      <option value="" selected></option>
      <option value="primary">P</option>
      <option value="secondary">S</option>
    </select>Obsessive Compulsive Disorder</li>
    <li>
      <select name="disability">
        <option value="" selected></option>
        <option value="primary">P</option>
        <option value="secondary">S</option>
      </select>Orthopedic/Mobility</li>
      <li>
        <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Parkinson Disease</li>
      <li>
          <select name="disability">
            <option value="" selected></option>
            <option value="primary">P</option>
            <option value="secondary">S</option>
          </select>Pulmonary</li>
          <li>
          <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Schizophrenia</li>
          <li>
          <select name="disability">
          <option value="" selected></option>
          <option value="primary">P</option>
          <option value="secondary">S</option>
        </select>Traumatic Brain Injury (TBI)</li>
        <li>
        <select name="disability">
        <option value="" selected></option>
        <option value="primary">P</option>
        <option value="secondary">S</option>
      </select>Other <input type="text" placeholder="___________"/>
</li></ul>
</div><!--END OF COL-SM-5-->
</div> <!--END OF ROW-->
<hr>

<div class="row">
  <div class="col-sm-2">
  </div>
<div class='col-sm-5'
  <span class="input-group-addon">History of Substance Abuse?:</span>
  <label for="checkboxes-126">
    <input type="checkbox" name="checkboxes" id="checkboxes-126" value="127">
    Yes
  </label>
  <label for="checkboxes-127">
    <input type="checkbox" name="checkboxes" id="checkboxes-127" value="128">
    No
  </label>
</div> <!--END OF COL-SM-5-->

  <div class='col-sm-5'>
  <span class="input-group-addon">Received Mental Health Services?:</span>
  <label for="checkboxes-128">
    <input type="checkbox" name="checkboxes" id="checkboxes-128" value="129">
    Yes
  </label>
  <label for="checkboxes-129">
    <input type="checkbox" name="checkboxes" id="checkboxes-129" value="130">
    No
  </label>
</div> <!-- END OF COL-SM-5-->
</div>
<hr>

<div class='row'>
<div class='col-sm-12'>
  <header id='formhead'>DISADVANTAGING CONDITIONS</header>
</div> <!--END OF COL-SM-12-->
</div> <!--END OF ROW-->

<div class='row'>
  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-130">
      <input type="checkbox" name="checkboxes" id="checkboxes-130" value="131">
      Dislocated Worker
    </label>
    <br>
    <label for="checkboxes-131">
      <input type="checkbox" name="checkboxes" id="checkboxes-131" value="132">
      Chronically Unemployed
    </label>
    <br>
    <label for="checkboxes-132">
      <input type="checkbox" name="checkboxes" id="checkboxes-132" value="133">
      Lacks Basic Literacy Skills
    </label>
    <br>
    <label for="checkboxes-133">
      <input type="checkbox" name="checkboxes" id="checkboxes-133" value="134">
      Welfare Recipient
    </label>
  </div> <!--END OF COL-SM-3-->


  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-134">
      <input type="checkbox" name="checkboxes" id="checkboxes-134" value="135">
      At-Risk Youth
    </label>
    <br>
    <label for="checkboxes-135">
      <input type="checkbox" name="checkboxes" id="checkboxes-135" value="136">
      Advanced Age (65+)
    </label>
    <br>
    <label for="checkboxes-136">
      <input type="checkbox" name="checkboxes" id="checkboxes-136" value="137">
      Pregnant Teen / Teen Parent
    </label>
    <br>
    <label for="checkboxes-137">
      <input type="checkbox" name="checkboxes" id="checkboxes-137" value="138">
      Displaced Homemaker
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-138">
      <input type="checkbox" name="checkboxes" id="checkboxes-138" value="139">
      Homeless
    </label>
    <br>
    <label for="checkboxes-139">
      <input type="checkbox" name="checkboxes" id="checkboxes-139" value="140">
      Non-English Speaking
    </label>
    <br>
    <label for="checkboxes-140">
      <input type="checkbox" name="checkboxes" id="checkboxes-140" value="141">
      School Dropout
    </label>
    <br>
    <label for="checkboxes-141">
      <input type="checkbox" name="checkboxes" id="checkboxes-141" value="142">
      Incumbent Worker
    </label>
  </div> <!--END OF COL-SM-3-->


  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-142">
      <input type="checkbox" name="checkboxes" id="checkboxes-142" value="143">
      Chronically Poor
    </label>
    <br>
    <label for="checkboxes-143">
      <input type="checkbox" name="checkboxes" id="checkboxes-143" value="144">
      Immigrant
    </label>
    <br>
    <label for="checkboxes-144">
      <input type="checkbox" name="checkboxes" id="checkboxes-144" value="145">
      Other <input type="text" placeholder="___________"/>
    </label>
  </div> <!--END OF COL-SM-3-->
</div><!-- END OF ROW-->
<hr>

<div class='row'>
<div class='col-sm-12'>
  <header id='formhead'>OFFENDER/EX-OFFENDER</header>
</div> <!--END OF COL-SM-12-->
</div> <!--END OF ROW-->

<div class='row'>
<div class='col-sm-3'>
<span class="input-group-addon">Felony Convictions?:</span><br>
<label for="checkboxes-145">
  <input type="checkbox" name="checkboxes" id="checkboxes-145" value="146">
  Yes
</label>
<label for="checkboxes-146">
  <input type="checkbox" name="checkboxes" id="checkboxes-146" value="147">
  No
</label>
</div> <!-- END OF COL-SM-3-->

<div class='col-sm-3'>
<span class="input-group-addon">Last Conviction Date:</span><br>
<input type="text" placeholder="_____________________"/>
</div> <!-- END OF COL-SM-3-->

<div class='col-sm-3'>
<span class="input-group-addon">Time Served:</span><br>
<input type="text" placeholder="_______________"/>
</div> <!-- END OF COL-SM-3-->

<div class='col-sm-3'>
<span class="input-group-addon">Are You On:</span><br>
<label for="checkboxes-147">
  <input type="checkbox" name="checkboxes" id="checkboxes-147" value="148">
  Probation
</label>
<label for="checkboxes-148">
  <input type="checkbox" name="checkboxes" id="checkboxes-148" value="149">
  Parole
</label>
</div> <!-- END OF COL-SM-3-->

</div><!--END OF ROW-->
<hr>

<div class='row'>
<div class='col-sm-12'>
  <header id='formhead'>REFERRAL INFORMATION</header>
</div> <!--END OF COL-SM-12-->
</div> <!--END OF ROW-->


<div class='row'>
<div class='col-sm-9'>
<span class="input-group-addon">Have you previously received services from Goodwill Southern California?:</span>
<label for="checkboxes-149">
  <input type="checkbox" name="checkboxes" id="checkboxes-149" value="150">
  Yes
</label>
<label for="checkboxes-150">
  <input type="checkbox" name="checkboxes" id="checkboxes-150" value="151">
  No
</label>
</div> <!-- END OF COL-SM-3-->

<div class='col-sm-3'>
  <span class="input-group-addon">If Yes: What year?:</span><br>
  <input type="text" placeholder="_______________"/>
</div><!--END OF COL-SM-3-->
</div><!--END OF ROW-->
<hr>

<div class='row'>
  <div class='col-sm-6'>
<span class='input-group-addon'>Referring Agency:</span>
<input type="text" placeholder="_______________"/>
  </div><!--END OF COL-SM-6-->

  <div class='col-sm-6'>
<span class='input-group-addon'>Referring Counselor:</span>
<input type="text" placeholder="_______________"/>
  </div><!--END OF COL-SM-6-->
</div><!--END OF ROW-->
<hr>


<div class='row'>
  <div class='col-sm-3'>
    <span class='input-group-addon'>Program Funding Source:</span>
  </div> <!--END OF COL-SM-3-->

    <div class=" col-sm-3 checkbox">
      <label for="checkboxes-151">
        <input type="checkbox" name="checkboxes" id="checkboxes-151" value="152">
        GSC
      </label>
      <br>
      <label for="checkboxes-152">
        <input type="checkbox" name="checkboxes" id="checkboxes-152" value="153">
        Insurance Comp.
      </label>
      <br>
      <label for="checkboxes-153">
        <input type="checkbox" name="checkboxes" id="checkboxes-153" value="154">
        Private Pay
      </label>
    </div> <!--END OF COL-SM-3-->


    <div class=" col-sm-3 checkbox">
      <label for="checkboxes-154">
        <input type="checkbox" name="checkboxes" id="checkboxes-154" value="155">
        Regional Center
      </label>
      <br>
      <label for="checkboxes-155">
        <input type="checkbox" name="checkboxes" id="checkboxes-155" value="156">
        Scholarship
      </label>
      <br>
      <label for="checkboxes-156">
        <input type="checkbox" name="checkboxes" id="checkboxes-156" value="157">
        School District
      </label>
    </div> <!--END OF COL-SM-3-->

    <div class=" col-sm-3 checkbox">
      <label for="checkboxes-157">
        <input type="checkbox" name="checkboxes" id="checkboxes-157" value="158">
        State Voc Rehab/DOR
      </label>
      <br>
      <label for="checkboxes-158">
        <input type="checkbox" name="checkboxes" id="checkboxes-158" value="159">
        WIA
      </label>
      <br>
      <label for="checkboxes-159">
        <input type="checkbox" name="checkboxes" id="checkboxes-159" value="160">
        Other<input type="text" placeholder="_______________"/>
      </label>
    </div> <!--END OF COL-SM-3-->


  </div><!-- END OF ROW-->
  <hr>


  <div class='row'>
    <div class='col-sm-3'>
      <span class='input-group-addon'>Referral Source:</span>
      <br>
      <br>
      <br>
      <span class='input-group-addon'>Referral Date:</span><br>
      <input type="text" placeholder="_______________"/>

    </div> <!--END OF COL-SM-3-->

      <div class=" col-sm-3 checkbox">
        <label for="checkboxes-160">
          <input type="checkbox" name="checkboxes" id="checkboxes-160" value="161">
          Housing Authority
        </label>
        <br>
        <label for="checkboxes-161">
          <input type="checkbox" name="checkboxes" id="checkboxes-161" value="162">
          Insurance Agencies
        </label>
        <br>
        <label for="checkboxes-162">
          <input type="checkbox" name="checkboxes" id="checkboxes-162" value="163">
          Job Corps
        </label>
        <br>
        <label for="checkboxes-163">
          <input type="checkbox" name="checkboxes" id="checkboxes-163" value="164">
          LA***
        </label>
        <br>
        <label for="checkboxes-164">
          <input type="checkbox" name="checkboxes" id="checkboxes-164" value="165">
          LAUSD
        </label>
        <br>
        <label for="checkboxes-165">
          <input type="checkbox" name="checkboxes" id="checkboxes-165" value="166">
          Law Enforcement
        </label>
        <br>
        <label for="checkboxes-166">
          <input type="checkbox" name="checkboxes" id="checkboxes-166" value="167">
          Media (news, TV, etc.)
        </label>
        <br>
        <label for="checkboxes-167">
          <input type="checkbox" name="checkboxes" id="checkboxes-167" value="168">
          Private Pay
        </label>
        <br>
        <label for="checkboxes-168">
          <input type="checkbox" name="checkboxes" id="checkboxes-168" value="169">
        Rapid Response
        </label>
        <br>
        <label for="checkboxes-169">
          <input type="checkbox" name="checkboxes" id="checkboxes-169" value="170">
        Regional Center
        </label>
      </div> <!--END OF COL-SM-3-->

      <div class=" col-sm-3 checkbox">
        <label for="checkboxes-170">
          <input type="checkbox" name="checkboxes" id="checkboxes-170" value="171">
          School System
        </label>
        <br>
        <label for="checkboxes-171">
          <input type="checkbox" name="checkboxes" id="checkboxes-171" value="172">
          Self
        </label>
        <br>
        <label for="checkboxes-172">
          <input type="checkbox" name="checkboxes" id="checkboxes-172" value="173">
          Shelter
        </label>
        <br>
        <label for="checkboxes-173">
          <input type="checkbox" name="checkboxes" id="checkboxes-173" value="174">
          State Voc Rehab/DOR
        </label>
        <br>
        <label for="checkboxes-174">
          <input type="checkbox" name="checkboxes" id="checkboxes-174" value="175">
          Transitional Housing
        </label>
        <br>
        <label for="checkboxes-175">
          <input type="checkbox" name="checkboxes" id="checkboxes-175" value="176">
          Vendor
        </label>
        <br>
        <label for="checkboxes-176">
          <input type="checkbox" name="checkboxes" id="checkboxes-176" value="177">
          Veteran's Administration
        </label>
        <br>
        <label for="checkboxes-177">
          <input type="checkbox" name="checkboxes" id="checkboxes-177" value="178">
          Volunteers of America
        </label>
        <br>
        <label for="checkboxes-178">
          <input type="checkbox" name="checkboxes" id="checkboxes-178" value="179">
        Walk-in
        </label>
        <br>
        <label for="checkboxes-179">
          <input type="checkbox" name="checkboxes" id="checkboxes-179" value="180">
        WIA Youth Center
        </label>
      </div> <!--END OF COL-SM-3-->


      <div class=" col-sm-3 checkbox">
        <label for="checkboxes-180">
          <input type="checkbox" name="checkboxes" id="checkboxes-180" value="181">
          Worker's Compensation
        </label>
        <br>
        <label for="checkboxes-181">
          <input type="checkbox" name="checkboxes" id="checkboxes-181" value="182">
          Native American Program
        </label>
        <br>
        <label for="checkboxes-182">
          <input type="checkbox" name="checkboxes" id="checkboxes-182" value="183">
          Private Rehabilitation Agency
        </label>
        <br>
        <label for="checkboxes-183">
          <input type="checkbox" name="checkboxes" id="checkboxes-183" value="184">
          Social Security Administration
        </label>
        <br>
        <label for="checkboxes-184">
          <input type="checkbox" name="checkboxes" id="checkboxes-184" value="185">
          Training/Vocational School
        </label>
        <br>
        <label for="checkboxes-185">
          <input type="checkbox" name="checkboxes" id="checkboxes-185" value="186">
          WorkSource Center (Specify) <input type="text" placeholder="_______________"/>
        </label>
        <br>
        <label for="checkboxes-186">
          <input type="checkbox" name="checkboxes" id="checkboxes-186" value="187">
          Other  <input type="text" placeholder="_______________"/>
        </label>
      </div> <!--END OF COL-SM-3-->


    </div><!-- END OF ROW-->
    <hr>

    <div class='row'>
      <div class='col-sm-3'>
        <span class='input-group-addon'>Best Way to Contact:</span>
      </div> <!--END OF COL-SM-3-->

<div class='col-sm-3'>
  <label for="checkboxes-188">
    <input type="checkbox" name="checkboxes" id="checkboxes-188" value="189">
    Phone
  </label>
</div><!--END OF COL-SM-3-->

<div class='col-sm-3'>
  <label for="checkboxes-189">
    <input type="checkbox" name="checkboxes" id="checkboxes-189" value="190">
    Letter
  </label>
</div><!--END OF COL-SM-3-->

<div class='col-sm-3'>
  <label for="checkboxes-190">
    <input type="checkbox" name="checkboxes" id="checkboxes-190" value="191">
    Email
  </label>
</div><!--END OF COL-SM-3-->


    </div><!--END OF ROW-->
    <hr>

    <p id='footpara'>Information requested on this document is voluntary and will be used for service delivery and statistical purposes only. Goodwill Southern California provides, upon request, reasonable accomodation to ensure equal access to its programs, services and activities.
      <br>
      Please contact our staff 72 hours in advance.
      <br>
      Equal Opportunity Employer/Program</p>
    </div> <!--END OF CONTAINER-->

</form>


<div class="container">
  <div class="row">
<div class="col-sm-6">
<a href='/forms'><button class="btn btn-primary btn-block">Back

</button></a>

</div>

<div class="col-sm-6">
<a href='/form3'><button class="btn btn-primary btn-block">Next

</button></a>

</div>
</div>
</div>


<% include partials/footer %>
