<% include partials/navbar %>
<form>

<div class="container" style='margin-top:100px'>
  <!-- Form Name -->
<legend style='text-align:center'>Goodwill Participant Information Form</legend>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">First Name:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Your First Name" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Middle Name:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="If Applicable" type="text">
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Last Name:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Your Last Name" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
</div> <!--END OF ROW-->
<hr>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">SSN:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder='Social Security Number' type="text">
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">DOB:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Date Of Birth" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Gender:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Male or Female" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
  <label class="col-md-12 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Street Address:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Your Address" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
</div> <!--END OF ROW-->
<hr>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">City:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Address City" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">State:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="State" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-4">
    <div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Zip Code:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Zip Code" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
  <label class="col-md-6 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Phone:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Phone Number" type="text">
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-6">
    <div class="form-group">
  <label class="col-md-6 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Alternate Phone:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="If applicable" type="text">
    </div>
  </div>
  </div> <!-- end of col-md-4-->

</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
  <label class="col-md-6 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Email:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Email Address" type="text">
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-6">
    <div class="form-group">
  <label class="col-md-6 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Alternate Email:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="If applicable" type="text">
    </div>
  </div>
  </div> <!-- end of col-md-4-->

</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon">Citizenship:</span>
      </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class=" col-sm-3 checkbox" style='margin-top:25px'>
    <label for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
      US Citizen
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox" style='margin-top:25px'>
    <label for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
      Eligible Non-Citizen
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox" style='margin-top:25px'>
    <label for="checkboxes-2">
      <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
      Non-Eligible Non-Citizen
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon">Marital Status:</span>
      </div>
  </div>
</div> <!-- end of col-sm-3-->
  <div class=" col-sm-3 checkbox" style='margin-top:15px'>
    <label for="checkboxes-3">
      <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
      Divorced
    </label>
    <br>
    <label for="checkboxes-4">
      <input type="checkbox" name="checkboxes" id="checkboxes-4" value="5">
      Married
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox" style='margin-top:15px'>
    <label for="checkboxes-5">
      <input type="checkbox" name="checkboxes" id="checkboxes-5" value="6">
      Never Married
    </label>
    <br>
    <label for="checkboxes-6">
      <input type="checkbox" name="checkboxes" id="checkboxes-6" value="7">
      Separated
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox" style='margin-top:15px'>
    <label for="checkboxes-7">
      <input type="checkbox" name="checkboxes" id="checkboxes-7" value="8">
      Single
    </label>
    <br>
    <label for="checkboxes-8">
      <input type="checkbox" name="checkboxes" id="checkboxes-8" value="9">
      Widow/Widower
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
  <label class="col-md-6 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Immediate Family:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Number in Immediate Family" type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
  <div class="col-sm-6">
    <div class="form-group">
  <label class="col-md-6 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon" style="margin-top:6px">Dependents Under 18:</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder='Number of Dependents Under 18' type="text" required='true'>
    </div>
  </div>
  </div> <!-- end of col-md-4-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon">Living Arrangements:</span>
      </div>
  </div>
</div> <!-- end of col-sm-3-->
  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-9">
      <input type="checkbox" name="checkboxes" id="checkboxes-9" value="10">
      Board and Care
    </label>
    <br>
    <label for="checkboxes-10">
      <input type="checkbox" name="checkboxes" id="checkboxes-10" value="11">
      Family
    </label>
    <br>
    <label for="checkboxes-11">
      <input type="checkbox" name="checkboxes" id="checkboxes-11" value="12">
      Friend
    </label>
    <br>
    <label for="checkboxes-12">
      <input type="checkbox" name="checkboxes" id="checkboxes-12" value="13">
      Independent
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-13">
      <input type="checkbox" name="checkboxes" id="checkboxes-13" value="14">
      Psych Residence
    </label>
    <br>
    <label for="checkboxes-14">
      <input type="checkbox" name="checkboxes" id="checkboxes-14" value="15">
      Recovery Program
    </label>
    <br>
    <label for="checkboxes-15">
      <input type="checkbox" name="checkboxes" id="checkboxes-15" value="16">
      Semi-Ind/Apt Lvg
    </label>
    <br>
    <label for="checkboxes-16">
      <input type="checkbox" name="checkboxes" id="checkboxes-16" value="17">
      Shelter
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-17">
      <input type="checkbox" name="checkboxes" id="checkboxes-17" value="18">
      Work Release
    </label>
    <br>
    <label for="checkboxes-18">
      <input type="checkbox" name="checkboxes" id="checkboxes-18" value="19">
      Group Home (6-8 people)
    </label>
    <br>
    <label for="checkboxes-19">
      <input type="checkbox" name="checkboxes" id="checkboxes-19" value="20">
      Other <input type="text" placeholder="_____________________"/>
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon">Primary Language:</span>
      </div>
  </div>
</div> <!-- end of col-sm-3-->
  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-20">
      <input type="checkbox" name="checkboxes" id="checkboxes-20" value="21">
      Arabic
    </label>
    <br>
    <label for="checkboxes-21">
      <input type="checkbox" name="checkboxes" id="checkboxes-21" value="22">
      Armenian
    </label>
    <br>
    <label for="checkboxes-22">
      <input type="checkbox" name="checkboxes" id="checkboxes-22" value="23">
      Cantonese
    </label>
    <br>
    <label for="checkboxes-23">
      <input type="checkbox" name="checkboxes" id="checkboxes-23" value="24">
      Chinese
    </label>
    <br>
    <label for="checkboxes-24">
      <input type="checkbox" name="checkboxes" id="checkboxes-24" value="25">
      English
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-25">
      <input type="checkbox" name="checkboxes" id="checkboxes-25" value="26">
      French
    </label>
    <br>
    <label for="checkboxes-26">
      <input type="checkbox" name="checkboxes" id="checkboxes-26" value="27">
      Japanese
    </label>
    <br>
    <label for="checkboxes-27">
      <input type="checkbox" name="checkboxes" id="checkboxes-27" value="28">
      Korean
    </label>
    <br>
    <label for="checkboxes-28">
      <input type="checkbox" name="checkboxes" id="checkboxes-28" value="29">
      Mandarin
    </label>
    <br>
    <label for="checkboxes-29">
      <input type="checkbox" name="checkboxes" id="checkboxes-29" value="30">
      Russian
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-30">
      <input type="checkbox" name="checkboxes" id="checkboxes-30" value="31">
      Sign Language
    </label>
    <br>
    <label for="checkboxes-31">
      <input type="checkbox" name="checkboxes" id="checkboxes-31" value="32">
      Spanish
    </label>
    <br>
    <label for="checkboxes-32">
      <input type="checkbox" name="checkboxes" id="checkboxes-32" value="33">
      Vietnamese
    </label>
    <br>
    <label for="checkboxes-33">
      <input type="checkbox" name="checkboxes" id="checkboxes-33" value="34">
      Other <input type="text" placeholder="_____________________"/>
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon">Ethnicity:</span>
      </div>
  </div>
</div> <!-- end of col-sm-3-->
  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-34">
      <input type="checkbox" name="checkboxes" id="checkboxes-34" value="35">
      American/Alaskan Native
    </label>
    <br>
    <label for="checkboxes-35">
      <input type="checkbox" name="checkboxes" id="checkboxes-35" value="36">
      Arabic
    </label>
    <br>
    <label for="checkboxes-36">
      <input type="checkbox" name="checkboxes" id="checkboxes-36" value="37">
      Armenian
    </label>
    <br>
    <label for="checkboxes-37">
      <input type="checkbox" name="checkboxes" id="checkboxes-37" value="38">
      Asian
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-38">
      <input type="checkbox" name="checkboxes" id="checkboxes-38" value="39">
      Black or African American
    </label>
    <br>
    <label for="checkboxes-39">
      <input type="checkbox" name="checkboxes" id="checkboxes-39" value="40">
      Hispanic or Latino
    </label>
    <br>
    <label for="checkboxes-40">
      <input type="checkbox" name="checkboxes" id="checkboxes-40" value="41">
      Native Hawaiian and other Pacific Islander
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-41">
      <input type="checkbox" name="checkboxes" id="checkboxes-41" value="42">
      White/Non-Hispanic or Latino
    </label>
    <br>
    <label for="checkboxes-42">
      <input type="checkbox" name="checkboxes" id="checkboxes-42" value="43">
      Decline to State
    </label>
    <br>
    <label for="checkboxes-43">
      <input type="checkbox" name="checkboxes" id="checkboxes-43" value="44">
      Other <input type="text" placeholder="_____________________"/>
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-2">
    <span class="input-group-addon">Veteran Status: <br> Are You A Veteran?</span> <br>

    <div class="form-group">
  <label class="col-sm-2 control-label" for="prependedtext"></label>
    <div class="input-group">
      <label for="checkboxes-44">
        <input type="checkbox" name="checkboxes" id="checkboxes-44" value="45">
        Yes
      </label>
      <label for="checkboxes-45">
        <input type="checkbox" name="checkboxes" id="checkboxes-45" value="46">
        No
      </label>
      </div>
  </div>
</div> <!-- end of col-sm-3-->

<div class="col-sm-2">
  <span>Discharged From Service: </span>
  <div class="form-group">
<label class="col-sm-2 control-label" for="prependedtext"></label>

  <div class="input-group">
    <label for="checkboxes-46">
      <input type="checkbox" name="checkboxes" id="checkboxes-46" value="47">
      Less Than 180 Days
    </label>
    <label for="checkboxes-47">
      <input type="checkbox" name="checkboxes" id="checkboxes-47" value="48">
      More Than 180 Days
    </label>
    </div>
</div>
</div> <!-- end of col-sm-3-->

<div class="col-sm-3">
  <span>Branch:</span>
  <div class="form-group">
<label class="col-sm-3 control-label" for="prependedtext"></label>
 <ul class='list-unstyled'>
  <div class="input-group">
    <li><label for="checkboxes-48">
      <input type="checkbox" name="checkboxes" id="checkboxes-48" value="49">
      Air Force
    </label></li>
  <li>  <label for="checkboxes-49">
      <input type="checkbox" name="checkboxes" id="checkboxes-49" value="50">
      Army
    </label></li>
    <li><label for="checkboxes-50">
      <input type="checkbox" name="checkboxes" id="checkboxes-50" value="51">
      Coast Guard
    </label></li>
    <li><label for="checkboxes-51">
      <input type="checkbox" name="checkboxes" id="checkboxes-51" value="52">
      National Guard
    </label></li>
  <li>  <label for="checkboxes-52">
      <input type="checkbox" name="checkboxes" id="checkboxes-52" value="53">
      Navy
    </label></li>
    <li><label for="checkboxes-53">
      <input type="checkbox" name="checkboxes" id="checkboxes-53" value="54">
      Marines
    </label></li>
    </div>
</ul>
</div>
</div> <!-- end of col-sm-3-->


    <div class="col-sm-2">
      <span>Campaign: </span>
      <div class="form-group">
    <label class="col-sm-2 control-label" for="prependedtext"></label>

      <div class="input-group">
        <label for="checkboxes-54">
          <input type="checkbox" name="checkboxes" id="checkboxes-54" value="55">
          Vietnam-era
        </label>
        <label for="checkboxes-55">
          <input type="checkbox" name="checkboxes" id="checkboxes-55" value="56">
          Gulf War
        </label>
        <label for="checkboxes-56">
          <input type="checkbox" name="checkboxes" id="checkboxes-56" value="57">
          OEF/OIF
        </label>
        <label for="checkboxes-57">
          <input type="checkbox" name="checkboxes" id="checkboxes-57" value="58">
          Other <input type="text" placeholder="____________"/>
        </label>
        </div>
    </div>
    </div> <!-- end of col-sm-2-->


    <div class="col-sm-3">
      <span>Spouse/Dependent of a Qualified Veteran:</span>

      <div class="form-group">
    <label class="col-sm-3 control-label" for="prependedtext"></label>
      <div class="input-group">
        <label for="checkboxes-58">
          <input type="checkbox" name="checkboxes" id="checkboxes-58" value="59">
          Yes
        </label>
        <label for="checkboxes-59">
          <input type="checkbox" name="checkboxes" id="checkboxes-59" value="60">
          No
        </label>
        </div>
    </div>
  </div> <!-- end of col-sm-3-->


</div> <!--END OF ROW-->
<hr>

<div class='row'>

<div class="col-sm-6">
  <span style='margin-top: 25px'>If yes, is your Military Service documented?:</span>

  <div class="form-group">
<label class="col-sm-6 control-label" for="prependedtext"></label>
  <div class="input-group">
    <label for="checkboxes-60">
      <input type="checkbox" name="checkboxes" id="checkboxes-60" value="61">
      Yes
    </label>
    <label for="checkboxes-61">
      <input type="checkbox" name="checkboxes" id="checkboxes-61" value="62">
      No
    </label>
    </div>
  </div>
</div> <!-- end of col-sm-6-->

<div class="col-sm-6">
  <span>Documented Disability related to service?:</span>

  <div class="form-group">
<label class="col-sm-6 control-label" for="prependedtext"></label>
  <div class="input-group">
    <label for="checkboxes-62">
      <input type="checkbox" name="checkboxes" id="checkboxes-62" value="63">
      Yes
    </label>
    <label for="checkboxes-63">
      <input type="checkbox" name="checkboxes" id="checkboxes-63" value="64">
      No
    </label>
    </div>
</div>
</div> <!-- end of col-sm-6-->


</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-2">
    <div class="form-group">
  <label class="col-sm-2 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon">Employment:</span>
      </div>
  </div>
</div> <!-- end of col-sm-2-->

<div class='form-group col-sm-5'>
  <span>Are You Currently Employed?:</span>
  <div class="checkbox">
    <label for="checkboxes-64">
      <input type="checkbox" name="checkboxes" id="checkboxes-64" value="65">
      No
    </label>
    <br>
    <label for="checkboxes-65">
      <input type="checkbox" name="checkboxes" id="checkboxes-65" value="66">
      Yes, but Underemployed
    </label>
    <br>
    <label for="checkboxes-66">
      <input type="checkbox" name="checkboxes" id="checkboxes-66" value="67">
      Yes, Full-Time
    </label>
    <br>
    <label for="checkboxes-67">
      <input type="checkbox" name="checkboxes" id="checkboxes-67" value="68">
      Yes, Part-time
    </label>
  </div> <!--END OF COL-SM-5-->
</div>

<div class='form-group col-sm-5'>
  <span>If Employed, <br>Current Salary or Hourly Wage:<input type="text" placeholder="Salary or Hourly Wage"/>
  Hours Per Week:<input type="text" placeholder="Hours Per Week"/></span>
</div> <!--END OF COL-SM-5-->

</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-2">
    <div class="form-group">
  <label class="col-sm-2 control-label" for="prependedtext"></label>
    <div class="input-group">
      <span class="input-group-addon">Income Sources:</span>
      </div>
  </div>
</div> <!-- end of col-sm-2-->

<div class='form-group col-sm-10' style='margin-top:20px'>
  <span>Annual Household Income:<input type="text" placeholder="Annual Income"/>
  </span>
</div>
</div>

<div class='row'>
    <div class="checkbox col-sm-6">
      <label for="checkboxes-68">
        <input type="checkbox" name="checkboxes" id="checkboxes-68" value="69">
        Unemployment Insurance
      </label>
      <br>
      <label for="checkboxes-69">
        <input type="checkbox" name="checkboxes" id="checkboxes-69" value="70">
        Employment Paycheck
      </label>
      <br>
      <label for="checkboxes-70">
        <input type="checkbox" name="checkboxes" id="checkboxes-70" value="71">
        Own Earnings
      </label>
      <br>
      <label for="checkboxes-71">
        <input type="checkbox" name="checkboxes" id="checkboxes-71" value="72">
        Spouse
      </label>
      <br>
      <label for="checkboxes-72">
        <input type="checkbox" name="checkboxes" id="checkboxes-72" value="73">
        SSDI
      </label>
      <br>
      <label for="checkboxes-73">
        <input type="checkbox" name="checkboxes" id="checkboxes-73" value="74">
        SSI
      </label>
    </div> <!--END OF COL-SM-6-->

    <div class="checkbox col-sm-6">
      <label for="checkboxes-74">
        <input type="checkbox" name="checkboxes" id="checkboxes-74" value="75">
        CalWorks
      </label>
      <br>
      <label for="checkboxes-75">
        <input type="checkbox" name="checkboxes" id="checkboxes-75" value="76">
        Food Stamps
      </label>
      <br>
      <label for="checkboxes-76">
        <input type="checkbox" name="checkboxes" id="checkboxes-76" value="77">
        General Relief
      </label>
      <br>
      <label for="checkboxes-77">
        <input type="checkbox" name="checkboxes" id="checkboxes-77" value="78">
        No Earnings
      </label>
      <br>
      <label for="checkboxes-78">
        <input type="checkbox" name="checkboxes" id="checkboxes-78" value="79">
        Family
      </label>
      <br>
      <label for="checkboxes-79">
        <input type="checkbox" name="checkboxes" id="checkboxes-79" value="80">
        Other <input type="text" placeholder="____________"/>

      </label>


</div> <!--END OF COL-SM-6-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-3">
    <span class="input-group-addon">Work History:</span>

    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      </div>
  </div>
</div> <!-- end of col-sm-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-80">
      <input type="checkbox" name="checkboxes" id="checkboxes-80" value="81">
      Established Work History
    </label>
    <br>
    <label for="checkboxes-81">
      <input type="checkbox" name="checkboxes" id="checkboxes-81" value="82">
      Limited Work History
    </label>
    <br>
    <label for="checkboxes-82">
      <input type="checkbox" name="checkboxes" id="checkboxes-82" value="83">
      No Previous Employment
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-83">
      <input type="checkbox" name="checkboxes" id="checkboxes-83" value="84">
      OJT
    </label>
    <br>
    <label for="checkboxes-84">
      <input type="checkbox" name="checkboxes" id="checkboxes-84" value="85">
      Laid Off
    </label>
    <br>
    <label for="checkboxes-85">
      <input type="checkbox" name="checkboxes" id="checkboxes-85" value="86">
      Terminated
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-86">
      <input type="checkbox" name="checkboxes" id="checkboxes-86" value="87">
      Student
    </label>
    <br>
    <label for="checkboxes-87">
      <input type="checkbox" name="checkboxes" id="checkboxes-87" value="88">
      Work Experience
    </label>
    <br>
    <label for="checkboxes-88">
      <input type="checkbox" name="checkboxes" id="checkboxes-88" value="89">
      Other <input type="text" placeholder="_____________________"/>
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-3">
    <span class="input-group-addon">Current Status:</span>

    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      </div>
  </div>
</div> <!-- end of col-sm-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-89">
      <input type="checkbox" name="checkboxes" id="checkboxes-89" value="90">
      Employed but seeking alternative job
    </label>
    <br>
    <label for="checkboxes-90">
      <input type="checkbox" name="checkboxes" id="checkboxes-90" value="91">
      Incarcerated
    </label>
    <br>
    <label for="checkboxes-91">
      <input type="checkbox" name="checkboxes" id="checkboxes-91" value="92">
      Institutionalized
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-92">
      <input type="checkbox" name="checkboxes" id="checkboxes-92" value="93">
      Laid Off
    </label>
    <br>
    <label for="checkboxes-93">
      <input type="checkbox" name="checkboxes" id="checkboxes-93" value="94">
      Never worked
    </label>
    <br>
    <label for="checkboxes-94">
      <input type="checkbox" name="checkboxes" id="checkboxes-94" value="95">
      Part Time only
    </label>
    <br>
    <label for="checkboxes-95">
      <input type="checkbox" name="checkboxes" id="checkboxes-95" value="96">
      Student
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-96">
      <input type="checkbox" name="checkboxes" id="checkboxes-96" value="97">
      Relocated
    </label>
    <br>
    <label for="checkboxes-97">
      <input type="checkbox" name="checkboxes" id="checkboxes-97" value="98">
      Terminated
    </label>
    <br>
    <label for="checkboxes-98">
      <input type="checkbox" name="checkboxes" id="checkboxes-98" value="99">
      Unemployed
    </label>
    <br>
    <label for="checkboxes-99">
      <input type="checkbox" name="checkboxes" id="checkboxes-99" value="100">
      Underemployed
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>


<div class="row">
  <div class="col-sm-3">
    <span class="input-group-addon">Education Level:</span>

    <div class="form-group">
  <label class="col-sm-3 control-label" for="prependedtext"></label>
    <div class="input-group">
      </div>
  </div>
</div> <!-- end of col-sm-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-100">
      <input type="checkbox" name="checkboxes" id="checkboxes-100" value="101">
      9th Grade
    </label>
    <br>
    <label for="checkboxes-101">
      <input type="checkbox" name="checkboxes" id="checkboxes-101" value="102">
      10th Grade
    </label>
    <br>
    <label for="checkboxes-102">
      <input type="checkbox" name="checkboxes" id="checkboxes-102" value="103">
      11th Grade
    </label>
    <br>
    <label for="checkboxes-103">
      <input type="checkbox" name="checkboxes" id="checkboxes-103" value="104">
      12th Grade
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-104">
      <input type="checkbox" name="checkboxes" id="checkboxes-104" value="105">
      GED
    </label>
    <br>
    <label for="checkboxes-105">
      <input type="checkbox" name="checkboxes" id="checkboxes-105" value="106">
      Special Ed. Certificate
    </label>
    <br>
    <label for="checkboxes-106">
      <input type="checkbox" name="checkboxes" id="checkboxes-106" value="107">
      High School Diploma
    </label>
    <br>
    <label for="checkboxes-107">
      <input type="checkbox" name="checkboxes" id="checkboxes-107" value="108">
      Associate's Degree
    </label>
  </div> <!--END OF COL-SM-3-->

  <div class=" col-sm-3 checkbox">
    <label for="checkboxes-108">
      <input type="checkbox" name="checkboxes" id="checkboxes-108" value="109">
      Bachelor's Degree
    </label>
    <br>
    <label for="checkboxes-109">
      <input type="checkbox" name="checkboxes" id="checkboxes-109" value="110">
      Master's Degree
    </label>
    <br>
    <label for="checkboxes-110">
      <input type="checkbox" name="checkboxes" id="checkboxes-110" value="111">
      Doctoral Degree
    </label>
    <br>
    <label for="checkboxes-111">
      <input type="checkbox" name="checkboxes" id="checkboxes-111" value="112">
      Other <input type="text" placeholder="_____________________"/>
    </label>
  </div><!--END OF COL-SM-3-->
</div> <!--END OF ROW-->
<hr>

<p id='footpara'>Information requested on this document is voluntary and will be used for service delivery and statistical purposes only. Goodwill Southern California provides, upon request, reasonable accomodation to ensure equal access to its programs, services and activities.
  <br>
  Please contact our staff 72 hours in advance.
  <br>
  Equal Opportunity Employer/Program</p>
</div> <!--END OF CONTAINER-->

</form>

</div> <!-- end of container -->
<div class="container">
  <div class="row">
<div class="col-sm-12">
<a href='/form2'><button class="btn btn-primary btn-block">Next

</button></a>

</div>
</div>
</div>


<% include partials/footer %>
