<% include partials/navbar %>

<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <img src="img/intro-img.svg" alt="" class="img-fluid">
    </div>

    <div class="intro-info">
      <h2>Goodwill Career Training<br><span>solutions</span><br>for your future!</h2>
      <div>
        <a href="/centers" class="btn-get-started scrollto">Career Centers</a>
        <a href="/register" class="btn-services scrollto">Register Today</a>
      </div>
    </div>

  </div>
</section><!-- #intro -->


<section id="about">
  <div class="container">

    <header class="section-header">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>

    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2" style='margin-top:25px'>
        <p>
          As one of the leading non-profit brands in the world, and the largest non-profit in Southern California, we have been transforming lives through the power of work for over 100 years. Goodwill Southern California operates a vast network of retail stores, donation centers, career resource centers, work programs for individuals with disabilities, business services, youth programs, and more. We offer a wide variety of full and part-time positions with competitive wages and comprehensive benefits for eligible employees. When you work for Goodwill, you become part of the solution that empowers individuals, advances businesses, enriches the community and cares for the Earth. And we think that feels pretty darn GOOD!
        </p>

        <!--<div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">Magni Dolores</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">Dolor Sitema</a></h4>
          <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>-->

      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
        <img src="img/about-img.svg" class="img-fluid" alt="" style= "height: 350px">
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6 wow fadeInUp">
        <img src="img/about-extra-1.svg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <h4>What is Goodwill's Talent Network?</h4>
        <p>
          Talent Networks enhance your job search and application process. Whether you choose to apply or just leave your information, we look forward to staying connected with you.
        </p>
        <p id='smallprint'>
This WIOA Title I-financially assisted program or activity is an Equal Opportunity employer/program. Auxiliary aids and services are available upon request to individuals with disabilities. For more information, call 323.223.1211 ext. 2323. Goodwill Southern California provides, upon request, reasonable accommodation to ensure equal access to its programs, services and activities. The TTY/TTD phone number is 323.487.4980 and the fax number is 323.539.2151. Please contact our staff 72 hours in advance. Equal Opportunity Employer/Program.        </p>
      </div>
    </div>


  </div>
</section><!-- #about -->
<% include partials/footer %>
